// Variables

$dark-grey: rgb(63, 63, 63);
$light-grey: rgb(235, 235, 235);
$mid-grey: rgb(116, 116, 116);
$animate: all 0.2s ease-in-out;

// HTML

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  color: rgb(32, 32, 32);
  font-size: 16px;
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.center-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}
h1,
h2 {
  font-family: "Lato";
}

h1 {
  font-size: 2rem;
  color: $dark-grey;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: $dark-grey;
  line-height: 1.4;
}

.split {
  display: flex;

  &__left {
    flex-basis: 60%;
    padding: 32px 12px 32px 24px;
  }

  &__right {
    flex-basis: 40%;
    padding: 32px 24px 32px 12px;
  }
}
.Header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: $light-grey solid 1px;

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-left: 24px;
    display: flex;
    align-items: center;

    p {
      font-family: "Lato";
      color: rgb(163, 163, 163);
    }
    span {
      font-family: "Lato";
      font-weight: 700;
    }
  }

  &__nav {
    padding-right: 24px;
    display: flex;

    height: 100%;
    align-items: center;

    a {
      padding-left: 1em;

      &:hover {
        color: lightgray;
      }
    }
  }

  &__mobile {
    display: none;
  }
}

@media (max-width: 620px) {
  .Header__logo {
    display: none;
  }
  .Header__nav {
    display: none;
  }
  .Header__mobile {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 580px) {
  .Info__left-box {
    display: none;
  }

  .desktop {
    display: none;
  }
  .split {
    display: none;

    &__left {
      padding: none;
    }

    &__right {
      padding: none;
    }
  }
}

@media (min-width: 580px) {
  .mobile {
    display: none;
  }
  body {
    background-color: darkgray;
  }
}

.Banner {
  padding-top: 64px;
  background-color: $light-grey;

  &__text {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;

    h1 {
      padding-bottom: 32px;
    }

    h2 {
      padding-bottom: 24px;
    }

    button {
      background-color: darkgray;
      color: $light-grey;
      border: none;
      padding: 0.8em 3em;
    }
  }

  .split button {
    max-width: 16em;
    background-color: $dark-grey;
    color: $light-grey;
    &:hover {
      background-color: $mid-grey;
      color: whitesmoke;
    }
  }

  .split__left {
    display: flex;
    align-items: center;
  }
  .split__right {
    display: flex;
    align-items: center;
  }
}

.Info {
  background-color: whitesmoke;
  padding-bottom: 32px;
  @media (min-width: 580px) {
    padding-bottom: 0px;
  }

  .mobile img {
    padding: 16px;
  }

  .text-container {
    padding: 0px 16px;
    font-size: 14px;

    h1 {
      font-size: 1.4em;
      padding-bottom: 0.4em;
    }

    p {
      font-size: 1em;
      padding-bottom: 0.4em;
      color: $mid-grey;
    }

    a {
      color: rgb(106, 158, 255);
      font-size: 1em;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .split {
    display: flex;
    background-color: white;

    &__left {
      display: block;

      h1 {
        padding-top: 32px;
        padding-bottom: 24px;
      }

      h2 {
        font-size: 1em;
        color: $mid-grey;
        margin-bottom: 1.4em;
      }

      p {
        font-size: 0.9em;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;

      .info-card {
        display: flex;
        padding-left: 12px;
        align-items: center;
        margin-bottom: 16px;

        img {
          width: 40%;
        }
      }
    }
  }
}

.Courses {
  padding: 32px 16px;
  @media (min-width: 580px) {
    padding: 0px;
    h1 {
      padding-top: 32px;
      background-color: $light-grey;
    }
  }
  h1 {
    text-align: center;
  }

  .mobile {
    background-color: white;
    padding-top: 32px;

    h1 {
      padding: 1em;
      margin-bottom: 0.7em;
      text-align: left;
      font-size: 1.5em;
      background-color: $light-grey;
    }

    .no-margin-bot {
      margin-bottom: 0px;
    }
  }

  .desktop {
    background-color: $light-grey;

    .Courses__container {
      display: flex;
      padding: 16px 60px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &__card {
        width: 250px;
        height: 280px;
        background-color: white;
        margin: 16px;

        &:hover {
          -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
          transition: 200ms;
          cursor: pointer;
        }

        h1 {
          padding-top: 0px;
          background-color: white;
          font-size: 1.2em;
          text-align: left;
          margin: 16px;
          margin-bottom: 8px;
        }

        p {
          font-size: 0.8em;
          margin-inline: 16px;
          margin-bottom: 8px;
          color: $mid-grey;
        }
      }
    }
  }
}

.Thesis {
  background-color: rgb(252, 250, 250);
  padding-bottom: 32px;

  h1 {
    text-align: center;
    padding: 32px 16px;
    @media (min-width: 580px) {
      padding-bottom: 0px;
    }
  }

  .desktop {
    background-color: rgb(252, 250, 250);
  }
  .desktop h1 {
    text-align: left;
    padding: 0px;
  }

  .text-container {
    padding: 0px 16px;
    font-size: 14px;

    h1 {
      font-size: 1.4em;
      padding-bottom: 0.4em;
    }

    p {
      font-size: 1em;
      padding-bottom: 0.4em;
      color: $mid-grey;
    }

    a {
      color: rgb(106, 158, 255);
      font-size: 1em;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .split {
    display: flex;

    &__left {
      display: block;

      h1 {
        padding-top: 32px;
        padding-bottom: 24px;
      }

      h2 {
        font-size: 1em;
        margin-bottom: 1.4em;
      }

      p {
        color: $mid-grey;
        font-size: 0.9em;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;

      .info-card {
        display: flex;
        padding-left: 12px;
        align-items: center;
        margin-bottom: 16px;

        img {
          width: 40%;
        }
      }
    }
  }
}

.Footer {
  background-color: rgb(252, 250, 250);
  padding: 16px;
  border-top: $light-grey solid 1px;

  .mobile {
    font-size: 0.8em;
    color: $mid-grey;
  }

  .desktop {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    @media (max-width: 580px) {
      display: none;
    }
    .left {
      font-size: 1em;
    }
    .right {
      font-size: 1em;
      a {
        padding-left: 0.5em;
        font-size: 1em;
        &:hover {
          color: darkgray;
        }
      }
    }
  }
}
