* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #202020;
  font-size: 16px;
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

h1,
h2 {
  font-family: "Lato";
}

h1 {
  font-size: 2rem;
  color: #3f3f3f;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #3f3f3f;
  line-height: 1.4;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.split__left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 32px 12px 32px 24px;
}

.split__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 32px 24px 32px 12px;
}

.Header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: #ebebeb solid 1px;
}

.Header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header__logo {
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header__logo p {
  font-family: "Lato";
  color: #a3a3a3;
}

.Header__logo span {
  font-family: "Lato";
  font-weight: 700;
}

.Header__nav {
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Header__nav a {
  padding-left: 1em;
}

.Header__nav a:hover {
  color: lightgray;
}

.Header__mobile {
  display: none;
}

@media (max-width: 620px) {
  .Header__logo {
    display: none;
  }
  .Header__nav {
    display: none;
  }
  .Header__mobile {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 580px) {
  .Info__left-box {
    display: none;
  }
  .desktop {
    display: none;
  }
  .split {
    display: none;
  }
  .split__left {
    padding: none;
  }
  .split__right {
    padding: none;
  }
}

@media (min-width: 580px) {
  .mobile {
    display: none;
  }
  body {
    background-color: darkgray;
  }
}

.Banner {
  padding-top: 64px;
  background-color: #ebebeb;
}

.Banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 16px;
}

.Banner__text h1 {
  padding-bottom: 32px;
}

.Banner__text h2 {
  padding-bottom: 24px;
}

.Banner__text button {
  background-color: darkgray;
  color: #ebebeb;
  border: none;
  padding: 0.8em 3em;
}

.Banner .split button {
  max-width: 16em;
  background-color: #3f3f3f;
  color: #ebebeb;
}

.Banner .split button:hover {
  background-color: #747474;
  color: whitesmoke;
}

.Banner .split__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Banner .split__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Info {
  background-color: whitesmoke;
  padding-bottom: 32px;
}

@media (min-width: 580px) {
  .Info {
    padding-bottom: 0px;
  }
}

.Info .mobile img {
  padding: 16px;
}

.Info .text-container {
  padding: 0px 16px;
  font-size: 14px;
}

.Info .text-container h1 {
  font-size: 1.4em;
  padding-bottom: 0.4em;
}

.Info .text-container p {
  font-size: 1em;
  padding-bottom: 0.4em;
  color: #747474;
}

.Info .text-container a {
  color: #6a9eff;
  font-size: 1em;
}

.Info .text-container a:hover {
  text-decoration: underline;
}

.Info .split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

.Info .split__left {
  display: block;
}

.Info .split__left h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.Info .split__left h2 {
  font-size: 1em;
  color: #747474;
  margin-bottom: 1.4em;
}

.Info .split__left p {
  font-size: 0.9em;
}

.Info .split__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Info .split__right .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.Info .split__right .info-card img {
  width: 40%;
}

.Courses {
  padding: 32px 16px;
}

@media (min-width: 580px) {
  .Courses {
    padding: 0px;
  }
  .Courses h1 {
    padding-top: 32px;
    background-color: #ebebeb;
  }
}

.Courses h1 {
  text-align: center;
}

.Courses .mobile {
  background-color: white;
  padding-top: 32px;
}

.Courses .mobile h1 {
  padding: 1em;
  margin-bottom: 0.7em;
  text-align: left;
  font-size: 1.5em;
  background-color: #ebebeb;
}

.Courses .mobile .no-margin-bot {
  margin-bottom: 0px;
}

.Courses .desktop {
  background-color: #ebebeb;
}

.Courses .desktop .Courses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Courses .desktop .Courses__container__card {
  width: 250px;
  height: 280px;
  background-color: white;
  margin: 16px;
}

.Courses .desktop .Courses__container__card:hover {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.Courses .desktop .Courses__container__card h1 {
  padding-top: 0px;
  background-color: white;
  font-size: 1.2em;
  text-align: left;
  margin: 16px;
  margin-bottom: 8px;
}

.Courses .desktop .Courses__container__card p {
  font-size: 0.8em;
  margin-inline: 16px;
  margin-bottom: 8px;
  color: #747474;
}

.Thesis {
  background-color: #fcfafa;
  padding-bottom: 32px;
}

.Thesis h1 {
  text-align: center;
  padding: 32px 16px;
}

@media (min-width: 580px) {
  .Thesis h1 {
    padding-bottom: 0px;
  }
}

.Thesis .desktop {
  background-color: #fcfafa;
}

.Thesis .desktop h1 {
  text-align: left;
  padding: 0px;
}

.Thesis .text-container {
  padding: 0px 16px;
  font-size: 14px;
}

.Thesis .text-container h1 {
  font-size: 1.4em;
  padding-bottom: 0.4em;
}

.Thesis .text-container p {
  font-size: 1em;
  padding-bottom: 0.4em;
  color: #747474;
}

.Thesis .text-container a {
  color: #6a9eff;
  font-size: 1em;
}

.Thesis .text-container a:hover {
  text-decoration: underline;
}

.Thesis .split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Thesis .split__left {
  display: block;
}

.Thesis .split__left h1 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.Thesis .split__left h2 {
  font-size: 1em;
  margin-bottom: 1.4em;
}

.Thesis .split__left p {
  color: #747474;
  font-size: 0.9em;
}

.Thesis .split__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Thesis .split__right .info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.Thesis .split__right .info-card img {
  width: 40%;
}

.Footer {
  background-color: #fcfafa;
  padding: 16px;
  border-top: #ebebeb solid 1px;
}

.Footer .mobile {
  font-size: 0.8em;
  color: #747474;
}

.Footer .desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

@media (max-width: 580px) {
  .Footer .desktop {
    display: none;
  }
}

.Footer .desktop .left {
  font-size: 1em;
}

.Footer .desktop .right {
  font-size: 1em;
}

.Footer .desktop .right a {
  padding-left: 0.5em;
  font-size: 1em;
}

.Footer .desktop .right a:hover {
  color: darkgray;
}
/*# sourceMappingURL=style.css.map */